@import '../../../../common/variable';

  .item_cont{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 20px 20px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow:0px 10px 25px -12px $DarkGrayishCyan; 
    border-radius: 5px; 
}  



.featured_cont::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 5px;
        height: 100%;

        background-color: $DesaturatedDarkCyan;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
}


@media screen and (min-width:992px) {
    .item_cont{
        display: flex;
        flex-direction: row; 
        padding: 25px 30px;
        margin-bottom: 25px;
    }

}