@import '../../../../../common/variable';

.tag_wrapper{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    li{
        list-style: none;
        ._tag{
            list-style: none;
            height: 25px;
            font-size: 15px;
            font-weight: 700;
            padding: 0px 7px;
            padding-top: 2px;

            border-radius: 2px;
            background-color: $Light;
            color: $DesaturatedDarkCyan;
            
            &:active{
                background-color: $DesaturatedDarkCyan;
                color: $Light;
            }
        }
        .tag_added{
            background-color: $DesaturatedDarkCyan;
            color: $Light;
        }
    }
}

@media screen and (min-width:992px) {
    .tag_wrapper{
        margin-top: 0px;
        width: 100%;
        margin-left: auto;
        justify-content: flex-end;
        ._tag:hover{
            background-color: $DesaturatedDarkCyan;
            color: $Light;
        }
    }
}

