@import './common/variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* width */
  ::-webkit-scrollbar {
    width: 8px;    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:$DesaturatedDarkCyan;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  $VeryDarkGrayishCyan;
  }
}


body{
    font-family: 'League Spartan', sans-serif;
    background-color: $LightBackground;
    font-size: 15px;
    button{
        cursor: pointer;
        font-family: 'League Spartan', sans-serif;
        border: none;
        -webkit-tap-highlight-color: transparent;
    }
}